<h1>{{ "Congratulations" | Translate}}</h1>

<p> Félicitations ! <br> Vous avez réussi le jeu en {{store.currentUser.score}} clicks. <br> Enregistres toi pour connaitre ton classement parmis les meilleurs mondiaux !</p>

<div id="global">
    <span id="span1">
        <!-- <form  [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value.name)">
            <div id="text-form">
                <p> Félicitations ! <br> Vous avez réussi le jeu en {{transfertDataService.counter}} clicks. <br> Enregistres toi pour connaitre ton classement parmis les meilleurs mondiaux !</p>
            </div>

            <div>
            <label for="name">Name</label>
            <input id="name" type="text" formControlName="name"  value="Enter your Pseudo">
            </div>
            <div class="form-button-container" ><button class="form-button" type="submit">REGISTER</button></div>
        </form> -->

        <nav id="buttons">
            <span><a routerLink=""><button>REJOUER</button></a></span>
            <span><a href="https://www.rofim.fr/" target="_blank"><button>ROFIM</button></a></span>
            <span><button (click)="store.resetdata()" >RESET DATA</button></span>
            <!--if user = admin Rofim -> button reset data -->
        </nav>
    </span>

    <span id="span2">
        <div class="h2"><h2>Leaderboard</h2></div>

        <!--Première victoire-->
        <div class="results-container" *ngIf="((this.store.ifTabExist(tabDonnees))&&(tabDonnees.length===1))" >
            <p>Vous etes le premier vainqueur du jeu !</p>
            <div id="results" class="rouge" *ngFor="let donnee of tabDonnees">    
                <span ><img class="imageUser" [attr.src]="'https://robohash.org/'+donnee.username"/></span>
                <span class="p1"><p>Username: {{donnee.username}}</p></span>
                <span class="p2"><p>Score: {{donnee.score}}</p></span>
                <span class="p2"><p>Victoires: {{donnee.victories}}</p></span>
            </div>
        </div>

        <!--Affichage du classement si au moins 2 victoires-->
        <div class="results-container" *ngIf="((this.store.ifTabExist(tabDonnees))&&(tabDonnees.length>1))">
            <!-- class="results" -->
            <div id="results" *ngFor="let donnee of tabDonnees" [ngClass]="{
                'rouge': ((this.username !==undefined )&&(donnee.username===this.username)),
                'bleu': !((this.username !==undefined )&&(donnee.username===this.username))
            }">
                <span ><img class="imageUser" [attr.src]="'https://robohash.org/'+donnee.username"/></span>
                <span class="p1"><p>Username: {{donnee.username}}</p></span>
                <span class="p2"><p>Score: {{donnee.score}}</p></span>
                <span class="p2"><p>Victoires: {{donnee.victories}}</p></span>
            </div>
        </div>
    </span>
</div>
