<div id="top-bar">

    <div *ngIf='(this.username) && (this.username !==" ") '>
        <!-- Sert à équilibrer l'espace -->
    </div>

    <div class="title">
        <h1>{{title}}</h1>
    </div>

    <div *ngIf='(this.username) && (this.username !==" ") '  class="appartionUser"> <!--Teste l'existence d'un currentUser-->
        <span class="username">
            <h2>Username</h2>
            <h3>{{this.username}}</h3>  <!--importe les données de manière directe-->
        </span>
    
        <span class="counter">
            <h2>Clicks</h2>
            <h3>{{this.score}}</h3>  <!--importe les données de manière directe-->
        </span>
        
        <span class="victories">
            <h2>Victoires</h2>
            <h3>{{this.victories}}</h3>   <!--importe les données de manière directe-->
        </span>
    </div>
</div>
